.community-page-wrapper {
  width: 100%;
  min-height: calc(100vh - 70px);
  /* Fill remaining height below navbar */
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
}

.App-Chat-Container {
  flex: 1;
  width: 100%;
  height: 100%;
}